.meblue {
    color: blue;
}

.mepurple {
    color: purple;
}

.mered {
    color: red;
}

.blackback {
    background-color: black;
}

.size40 {
    font-size: 40px;
}

.size10 {
    font-size: 10px;
}

.weightbold {
    font-weight: bold;
}