h1 {
    top: 45%;
    left: 45%;
    position: absolute;
}

h2 {
    top: 50%;
    left: 46.2%;
    position: absolute;
}

h3 {
    top: 0px;
    left: 0px;
    position: absolute;
}

h4 {
    bottom: 0px;
    right: 0px;
    position: absolute;
}

h5 {
    top: 45%;
    left: 0px;
    position: absolute;
}